<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="stylesheet" href="./home.css">
</head>

<body>
  <div class="card border">
    <header>
      <ul class="left">
        <li>
          <a href="#"><i class="bi bi-list"></i></a>
        </li>
        <li>
          <button type="button" class="search-icon" onclick="searchClick()"><i class="bi bi-search"></i></button>
        </li>

      </ul>
      <div class="middle">
        <a href="#"><img src="../../imgs/home/logokonen.png"></a>
      </div>
      <ul class="right">
        <a href="#">
          <li>
            Đăng nhập
          </li>
        </a>
        <a href="#">
          <li>
            Đăng ký
          </li>
        </a>
      </ul>
    </header>
    <nav id="nav">
      <ul id="nav-ul">
        <a href="#">
          <li class="thoi-su">Thời sự</li>
        </a>
        <a href="#">
          <li class="kinh-doanh">Kinh doanh </li>
        </a>
        <a href="#">
          <li class="khoa-hoc">Khoa học </li>
        </a>
        <a href="#">
          <li class="the-thao">Thể thao </li>
        </a>
        <a href="#">
          <li class="giao-duc">Giáo dục </li>
        </a>
        <a href="#">
          <li class="doi-song">Đời sống </li>
        </a>
        <a href="#">
          <li class="the-gioi">Thế giới </li>
        </a>
        <a href="#">
          <li class="bat-dong-san">Bất động sản</li>
        </a>
        <a href="#">
          <li class="giai-tri">Giải trí </li>
        </a>
        <a href="#">
          <li class="phap-luat">Pháp luật </li>
        </a>
        <a href="#">
          <li class="suc-khoe">Sức khỏe </li>
        </a>
        <a href="#">
          <li class="du-lich">Du lịch </li>
        </a>
      </ul>
      <div id="subnav">
        <ul hidden id="thoi-su">
          <a href="#">
            <li>Chính trị</li>
          </a>
          <a href="#">
            <li>Dân sinh</li>
          </a>
          <a href="#">
            <li>Lao động - Việc làm</li>
          </a>
          <a href="#">
            <li>Giao thông</li>
          </a>
        </ul>
        <ul hidden id="kinh-doanh">
          <a href="#">
            <li>NetZero</li>
          </a>
          <a href="#">
            <li>Quốc tế</li>
          </a>
          <a href="#">
            <li>Doanh nghiệp</li>
          </a>
          <a href="#">
            <li>Chứng khoáng</li>
          </a>
          <a href="#">
            <li>E-bank</li>
          </a>
        </ul>
        <ul hidden id="khoa-hoc">
          <a href="#">
            <li>Khoa học trong nước</li>
          </a>
          <a href="#">
            <li>Chỉ số PII</li>
          </a>
          <a href="#">
            <li>Tin tức</li>
          </a>
          <a href="#">
            <li>Phát minh</li>
          </a>
          <a href="#">
            <li>Ứng dụng</li>
          </a>
          <a href="#">
            <li>Thế giới tự nhiên</li>
          </a>
        </ul>
        <ul hidden id="the-thao">
          <a href="#">
            <li>Bóng đá</li>
          </a>
          <a href="#">
            <li>Lịch thi đấu</li>
          </a>
          <a href="#">
            <li>Marathon</li>
          </a>
          <a href="#">
            <li>Tennis</li>
          </a>
          <a href="#">
            <li>Các môn khác</li>
          </a>
        </ul>
        <ul hidden id="giao-duc">
          <a href="#">
            <li>Tin tức</li>
          </a>
          <a href="#">
            <li>Tuyển sinh</li>
          </a>
          <a href="#">
            <li>Chân dung</li>
          </a>
          <a href="#">
            <li>Học tiếng Anh</li>
          </a>
          <a href="#">
            <li>Giáo dục 4.0</li>
          </a>
        </ul>
        <ul hidden id="doi-song">
          <a href="#">
            <li>Nhịp sống</li>
          </a>
          <a href="#">
            <li>Tổ ấm</li>
          </a>
          <a href="#">
            <li>Bài học sống</li>
          </a>
          <a href="#">
            <li>Nấu ăn</li>
          </a>
          <a href="#">
            <li>Tiêu dùng</li>
          </a>
        </ul>
        <ul hidden id="the-gioi">
          <a href="#">
            <li>Bầu cử tổng thông Mỹ</li>
          </a>
          <a href="#">
            <li>Tu</li>
          </a>
          <a href="#">
            <li>Phân tích</li>
          </a>
          <a href="#">
            <li>Quân sự</li>
          </a>
        </ul>
        <ul hidden id="bat-dong-san">
          <a href="#">
            <li>Chính sách</li>
          </a>
          <a href="#">
            <li>Thị trường</li>
          </a>
          <a href="#">
            <li>Dự án</li>
          </a>
          <a href="#">
            <li>Không gian sống</li>
          </a>
        </ul>
        <ul hidden id="giai-tri">
          <a href="#">
            <li>Giới sao (idol/star)</li>
          </a>
          <a href="#">
            <li>Sách</li>
          </a>
          <a href="#">
            <li>Phim</li>
          </a>
          <a href="#">
            <li>Phim</li>
          </a>
          <a href="#">
            <li>Nhạc</li>
          </a>
          <a href="#">
            <li>Thời trang</li>
          </a>
          <a href="#">
            <li>Làm đẹp</li>
          </a>
          <a href="#">
            <li>Mỹ thuật</li>
          </a>
        </ul>
        <ul hidden id="phap-luat">
          <a href="#">
            <li>Hồ sơ phá án</li>
          </a>
          <a href="#">
            <li>Tư vấn</li>
          </a>
        </ul>
        <ul hidden id="suc-khoe">
          <a href="#">
            <li>Tin tức</li>
          </a>
          <a href="#">
            <li>Sống khỏe</li>
          </a>
          <a href="">
            <li>Vaccine</li>
          </a>
          <a href="">
            <li>Các bệnh</li>
          </a>
        </ul>
        <ul hidden id="du-lich">
          <a href="#">
            <li>Điểm đến</li>
          </a>
          <a href="#">
            <li>Ẩm thực</li>
          </a>
          <a href="#">
            <li>Dấu chân</li>
          </a>
          <a href="#">
            <li>Tư vấn</li>
          </a>
          <a href="#">
            <li>Cẩm nang</li>
          </a>
        </ul>
      </div>
    </nav>

    <div class="card-body pr-0 pl-0" id="body">
      <!-- Tin tức nổi bật & top 10 categories -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="row">
              <div class="grid-head">
                <img src="../../imgs/home/donal.jpg"
                  class="img-grid-head img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                  alt="">
                <div class="content-grid-head">
                  <h4>Ukraine đối mặt tương lai bất định khi ông Trump nắm quyền</h4>
                  <p>Dù tuyên bố sẽ nhanh chóng chấm dứt chiến sự, ông Trump chưa đề ra kế hoạch cụ
                    thể
                    và nếu có, chúng cũng khó đem lại nhiều lợi ích cho Ukraine.</p>
                  <p class="date">
                    22/11/2024
                  </p>
                </div>
              </div>
            </div>
            <div id="article_list">
              <div class="article-list-element">
                <img src="../../imgs/home/bv.jpg" class="img-fluid" alt="">
                <div class="article-list-content">
                  <a href="#">
                    <h5>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                  </a>
                  <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ
                    Trần
                    Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  <p class="date">
                    22/11/2024
                  </p>
                </div>
              </div>
              <div class="article-list-element">
                <img src="../../imgs/home/bv.jpg" class="img-fluid" alt="">
                <div class="article-list-content">
                  <a href="#">
                    <h5>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                  </a>
                  <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ
                    Trần
                    Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  <p class="date">
                    22/11/2024
                  </p>
                </div>
              </div>
              <div class="article-list-element">
                <img src="../../imgs/home/bv.jpg" class="img-fluid" alt="">
                <div class="article-list-content">
                  <a href="#">
                    <h5>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                  </a>
                  <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ
                    Trần
                    Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  <p class="date">
                    22/11/2024
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card mb-3 shadow-sm" id="article_top10">
              <div class="list-group list-group-flush">
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Top bài viết nổi bật -->
      <div class="container-fluid" id="article_top_high">
        <div class="title">
          <h4>Top bài viết nổi bật</h4>
        </div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="item">
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="item">
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="item">
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
                <div class="card" style="width: 18rem;">
                  <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="#">
                      <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                    </a>
                    <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev btn-secondary" type="button" data-target="#carouselExampleControls"
            data-slide="prev">
            <span class="carousel-control-prev-icon " aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </button>
          <button class="carousel-control-next btn-secondary" type="button" data-target="#carouselExampleControls"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </button>
        </div>

      </div>
      <!-- Category thời sự -->
      <div class="container-fluid">
        <div class="pt-3">
          <h5 class="font-weight-bold">THỜI SỰ</h5>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="card shadow-sm">
              <div class="article-small">
                <div class="article">
                  <div class="content">
                    <h5>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng
                      tới'</h5>
                    <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng
                      Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    <p class="date">
                      22/11/2024
                    </p>
                  </div>
                </div>
                <div class="article">
                  <div class="content">
                    <h5>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng
                      tới'</h5>
                    <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng
                      Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    <p class="date">
                      22/11/2024
                    </p>
                  </div>

                </div>
                <div class="article">
                  <div class="content">
                    <h5>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng
                      tới'</h5>
                    <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng
                      Chính phủ Trần
                      Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    <p class="date">
                      22/11/2024
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card shadow-sm">
              <div class="article-big">
                <img src="../../imgs/home/donal.jpg">
                <div class="article-big-content">
                  <h4>Ukraine đối mặt tương lai bất định khi ông Trump nắm quyền</h4>
                  <p>Dù tuyên bố sẽ nhanh chóng chấm dứt chiến sự, ông Trump chưa đề ra kế hoạch cụ thể
                    và nếu có, chúng cũng khó đem lại nhiều lợi ích cho Ukraine.</p>
                  <p class="date">
                    22/11/2024
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card mb-3 shadow-sm" id="article_top10_2">
              <div class="list-group list-group-flush">
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="category">Thời sự</div>
                  <a href="#">
                    <h6 class="card-title">Bà Pelosi đổ lỗi cho ông Biden về thất bại trong bầu cử tổng thống</h6>
                  </a>
                  <p class="card-text">Cựu chủ tịch Hạ viện Mỹ chỉ trích Tổng thống Biden, cho rằng đảng Dân chủ sẽ
                    đạt kết quả tốt hơn nếu ông sớm rời cuộc đua Nhà Trắng.</p>
                  <div class="date">
                    <div>22/11/2024</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Category du lịch -->
      <div class="container-fluid" id="article_tour">
        <div class="pt-3">
          <h5 class="font-weight-bold">DU LỊCH</h5>
        </div>
        <div id="article_outer">
          <img src="../../imgs/home/suôi thầu.jpg">
          <div class="article-title">
            <div class="article-title-content">
              <h3>Suôi Thầu vào mùa tam giác mạch</h3>
              <p>Hà Giang Thảo nguyên Suôi Thầu được ví như "Thụy Sĩ thu nhỏ", thu hút khách du lịch khi hoa tam giác
                mạch bung nở.</p>
              <p class="date">
                22/11/2024
              </p>
            </div>
            <div class="media position-relative" id="article-inner">
              <div class="media-body article-inner-content-right">
                <h5>48 giờ nghỉ dưỡng ở vịnh Ninh Vân</h5>
                <p>Khánh Hòa-Du khách đến vịnh Ninh Vân có thể trải nghiệm ngắm bình minh, cắm trại, hoặc chọn nghỉ
                  dưỡng tại một resort cao cấp để cảm nhận không khí yên bình.</p>
                <p class="date">22/11/2024</p>
              </div>
              <img class="article-inner-image" src="../../imgs/home/suôi thầu2.jpg" alt="...">
            </div>
          </div>
        </div>
      </div>
      <!-- Category sức khỏe -->
      <div class="container-fluid" id="article_tour">
        <div class="pt-3">
          <h5 class="font-weight-bold">DU LỊCH</h5>
        </div>
        <div id="article_outer">
          <div class="article-title">
            <div class="article-title-content">
              <h3>Suôi Thầu vào mùa tam giác mạch</h3>
              <p>Hà Giang Thảo nguyên Suôi Thầu được ví như "Thụy Sĩ thu nhỏ", thu hút khách du lịch khi hoa tam giác
                mạch bung nở.</p>
              <p class="date">
                22/11/2024
              </p>
            </div>
            <div class="media position-relative" id="article-inner">
              <img class="article-inner-image" src="../../imgs/home/suôi thầu2.jpg" alt="...">
              <div class="media-body article-inner-content-left">
                <h5>48 giờ nghỉ dưỡng ở vịnh Ninh Vân</h5>
                <p>Khánh Hòa-Du khách đến vịnh Ninh Vân có thể trải nghiệm ngắm bình minh, cắm trại, hoặc chọn nghỉ
                  dưỡng tại một resort cao cấp để cảm nhận không khí yên bình.</p>
                <p class="date">22/11/2024</p>
              </div>
            </div>
          </div>
          <img src="../../imgs/home/suôi thầu.jpg">
        </div>
      </div>
      <!-- Bài viết liên quan -->
      <div class="container-fluid" id="article_related">
        <h4>Top bài viết liên quan</h5>
          <div id="carouselExampleControls2" class="carousel slide " data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="item">
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="item">
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="item">
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                  <div class="card" style="width: 18rem;">
                    <img src="../../imgs/home/bv.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <a href="#">
                        <h5 class="card-title">Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới'</h5>
                      </a>
                      <p class="card-text">Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần
                        Văn Sơn thông báo tại họp báo Chính phủ thường kỳ chiều 9/11.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev btn-secondary" type="button" data-target="#carouselExampleControls2"
              data-slide="prev">
              <span class="carousel-control-prev-icon " aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next btn-secondary" type="button" data-target="#carouselExampleControls2"
              data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </button>
          </div>

      </div>
      <!-- Chuyên mục chính trị -->
      <div class="container-fluid">
        <div class="pt-3">
          <h5 class="font-weight-bold">CHÍNH TRỊ</h5>
        </div>
        <div class="border-danger">
          <div class="cata-politic">
            <div class="politic-left">
              <img src="../../imgs/home/donal.jpg">
              <div class="content">
                <h4 class="font-weight-bold">Ukraine đối mặt tương lai bất định khi ông Trump nắm quyền</h4>
                <p>Dù tuyên bố sẽ nhanh chóng chấm dứt chiến sự, ông Trump chưa đề ra kế hoạch cụ thể
                  và nếu có, chúng cũng khó đem lại nhiều lợi ích cho Ukraine.</p>
                <p class="date">22/11/2024</p>
              </div>
            </div>
            <div class="politic-right">
              <div class="politic-article">
                <div class="content">
                  <h6>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới</h6>
                  <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần Văn Sơn thông báo tại
                    họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  <p class="date">22/11/2024</p>
                </div>
                <img src="../../imgs/home/bv.jpg">
              </div>
              <div class="politic-article">
                <div class="content">
                  <h6>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới</h6>
                  <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần Văn Sơn thông báo tại
                    họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  <p class="date">22/11/2024</p>
                </div>
                <img src="../../imgs/home/bv.jpg">
              </div>
              <div class="politic-article">
                <div class="content">
                  <h6>Bệnh viện Bạch Mai và Việt Đức 2 'phải hoàn thiện trong 6 tháng tới</h6>
                  <p>Chỉ đạo này của Thủ tướng được Bộ trưởng, Chủ nhiệm Văn phòng Chính phủ Trần Văn Sơn thông báo tại
                    họp báo Chính phủ thường kỳ chiều 9/11.</p>
                  <p class="date">22/11/2024</p>
                </div>
                <img src="../../imgs/home/bv.jpg">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <a class="left" href="#">
        <img src="../../imgs/home/logokonen.png">
      </a>
      <div class="right">
        <ul class="right-top">
          <li><a href="#">Trang chủ</a></li>
          <li><a href="#">Thời sự</a></li>
          <li><a href="#">Kinh doanh</a></li>
          <li><a href="#">Khoa học</a></li>
          <li><a href="#">Thể thao</a></li>
          <li><a href="#">Giáo dục</a></li>
          <li><a href="#">Đời sống</a></li>
          <li><a href="#">Thế giới</a></li>
          <li><a href="#">Bất động sản</a></li>
          <li><a href="#">Giải trí</a></li>
          <li><a href="#">Pháp luật</a></li>
          <li><a href="#">Sức khỏe</a></li>
          <li><a href="#">Du lịch</a></li>
        </ul>
        <ul class="right-center">
          <li><a href="#">Giới thiệu</a></li>
          <li><a href="#">Chính sách bảo mật</a></li>
          <li><a href="#">Thông tin liên hệ</a></li>
          <li><a href="#">Đóng góp ý kiến</a></li>
          <li><a href="#">Hỗ trợ khả năng về truy cập</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Dữ liệu người dùng</a></li>
          <li><a href="#">Cookie</a></li>
        </ul>
      </div>
      <p class="right-bot">NewHubs không chịu trách nhiệm về nội dung của các trang web bên ngoài.<a href="#"
          class="pl-2">Đọc thêm về điều khoản</a></p>
    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"></script>
  <script src="../layouts/scriptMain.js"></script>
</body>

</html>