@import "../ChuyenMuc/styleMain.css";

:root {
    --bred: #ffe6e6;
    --blue: #00bfff;
}

img {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: var(--white);
    border-bottom: 2px solid var(--red);
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: flex-start;


    ul {
        display: flex;
        gap: 0em;
        padding: 10px;
    }

    button {
        background-color: var(--white);
        border: none;
        /* margin-bottom: 10px; */
    }

    img {
        width: 2.5em;
    }

    li {
        color: var(--red);
        display: flex;
        align-items: center;
        box-shadow: 1px 1px 1px 1px var(--grey);
        /* border-right: 1px solid var(--red); */
        /* Đường phân cách */
        transition: background-color 0.3s, color 0.3s;
        padding: 0 10px;
    }

    .active {
        background-color: var(--red);
        color: var(--white);
    }

}

li:first-child {
    padding: 0;
    box-shadow: none;
    border-right: 1px solid var(--grey);
}

li:hover {
    background-color: var(--bred);
    text-decoration: none;
    /* Màu nền khi hover */
    color: var(--black);
}

#ChangeAccount-Div {
    position: absolute;
    border: 1px solid var(--grey);
    border-radius: 10px;
    width: 10%;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: 1px 1px 1px 1px var(--grey);
    background-color: var(--white);
    padding: 10px;
    z-index: 5;
    display: none;


    .avt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        border-top: 1px solid var(--grey);
        padding-left: 0;
    }

    li {
        display: flex;
        justify-content: center;
    }



    .btn-sign-out {
        background-color: var(--red);
        color: var(--white);
        border-radius: 15px;
        border: none;
    }

}

/* Thanh các chức năng phụ của trang */

nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid var(--grey);
    padding: 15px 75px;
    background-color: var(--white);


    .btn {
        height: 2.5em;
        background-color: var(--red);
        color: var(--white);
        border-color: var(--red);
        border-radius: 15px;
        width: 100px;
    }

    .btn:hover {
        background-color: #F6E6E6;
        color: var(--red);
    }

    .filter {
        display: flex;
        justify-content: flex-end;
        gap: 2em;
    }
}

#body {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    padding: 1em 1em;


    .creat {
        grid-area: 1 / span 4;

        texarea {
            height: 100%;
        }
    }

    .nav {
        display: flex;
        flex-direction: column;
        border: 1px solid var(--grey);
        padding: 1em;
        border-radius: 10px;

        .btn-add {
            background-color: var(--blue);
            border-radius: 10px;
            padding: 5px;
            margin-top: 5px;
        }

        .state {
            .inner-state {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                gap: 1em;

                .author::before {
                    content: "Tác giả: ";
                }

            }
        }

        .category {

            .choice-cata {
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
        }

        .inner {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            textarea {
                border-radius: 10px;
            }
        }



    }
}