<form action="/account/login" method="post">
    <h2>Đăng nhập</h2>
    <div class="information">
        <h3>Email</h3>
        <input type="email" name="email" required>
        <h3>Mật khẩu</h3>
        <input type="password" name="password" required>
    </div>
    {{#if error_message}}
    <div class="error-message">
        {{error_message}}
    </div>
    {{/if}}
    {{!-- <div class="forgot-remember-me">
        <div class="remember-me">
            <input type="checkbox" name="remember" id="remember-cb" disabled>
            <label for="remember-cb">Lưu đăng nhập</label>
        </div>
        <a href="/account/otp" style="pointer-events: none;">Quên mật khẩu</a>
    </div> --}}

    <!-- Button ẩn -->
    <button type="submit" style="display: none;" id="submitBtn"></button>

    <!-- Div gốc kích hoạt submit -->
    <div class="active-button" onclick="document.getElementById('submitBtn').click()">
        <p>Đăng nhập</p>
    </div>

    <div class="active-button google">
        <img src="../../imgs/account/Google__G__logo.svg.webp" alt="">
        <p>Đăng nhập bằng Google</p>
    </div>
    <div class="active-button facebook">
        <img src="../../imgs/account/Facebook_Logo_Secondary.png" alt="">
        <p>Đăng nhập bằng Facebook</p>
    </div>
    <a href="/account/register" class="register"><strong>Tạo tài khoản!</strong></a>
</form>