<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./account.css">
    <title>Đăng nhập</title>
</head>

<body>
    <div id="center-form">
        <div class="container">
            <div class="wrap">
                <form action="#" method="get">
                    <h2>Đăng nhập</h2>
                    <!-- <img src="./hinhanh/logokonen2.png" alt="" class="logo"> -->
                    <div class="information">
                        <h3>Số điện thoại</h3>
                        <input type="text" maxlength="10" id="phone-number">
                        <h3>Mật khẩu</h3>
                        <input type="password" id="password">
                    </div>
                    <div class="forgot-remember-me">
                        <div class="remember-me">
                            <input type="checkbox" name="" id="remember-cb">
                            <label for="remember-cb">Remember me</label>
                        </div>
                        <a href="./otp.html">Forgot password</a>
                    </div>
                    <div class="active-button">
                        <p>Đăng nhập</p>
                    </div>
                    <div class="active-button google">
                        <img src="../../imgs/account/Google__G__logo.svg.webp" alt="">
                        <p>Đăng nhập bằng Google</p>
                    </div>
                    <div class="active-button facebook">
                        <img src="../../imgs/account/Facebook_Logo_Secondary.png" alt="">
                        <p>Đăng nhập bằng Facebook</p>
                    </div>
                    <a href="./register.html" class="register"><strong>Tạo tài khoản!</strong></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>