<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./account.css">
    <title>Đăng ký</title>
</head>

<body>
    <div id="center-form">
        <div class="container">
            <div class="wrap">
                <form action="#" method="get">
                    <h2>Đăng ký</h2>
                    <!-- <img src="./hinhanh/logokonen2.png" alt="" class="logo"> -->
                    <div class="information">
                        <input type="text" maxlength="10" id="phone-number" placeholder="Họ và tên">
                        <input type="text" id="phone-number" placeholder="Email">
                        <input placeholder="Ngày sinh" class="textbox-n" type="text" onfocus="(this.type='date')"
                            onblur="(this.type='text')" id="dob" />
                        <input type="password" id="phone-number" placeholder="Mật khẩu">
                        <input type="password" id="confirm-password" placeholder="Nhập lại mật khẩu">
                    </div>
                    <div class="active-button">
                        <p>Tạo tài khoản</p>
                    </div>
                    <div class="active-button google">
                        <img src="../../imgs/account/Google__G__logo.svg.webp" alt="">
                        <p>Tạo tài khoản bằng Google</p>
                    </div>
                    <div class="active-button facebook">
                        <img src="../../imgs/account/Facebook_Logo_Secondary.png" alt="">
                        <p>Tạo tài khoản bằng Facebook</p>
                    </div>
                    <a href="./login.html" class="login"><strong>Đăng nhập!</strong></a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>