<header id="menu">
    <button id="btn-change-acc" onclick="ChangeAccount()">
        <img src="/imgs/main/avt.png">
    </button>
    <ul>
        <li onclick="ChangeColorBtn(this)">
            <a href="/writer/home" class="header-item">
                <i class="bi bi-graph-up"></i>
                Tổng quan
            </a>
        </li>
        <li onclick="ChangeColorBtn(this)">
            <a href="/writer/list-post" class="header-item">
                <i class="bi bi-list-ul"></i>
                Danh sách bài viết
            </a>
        </li>
        <li onclick="ChangeColorBtn(this)">
            <a href="/writer/create-article" class="header-item">
                <i class="bi bi-plus-square"></i>
                Tạo bài viết
            </a>
        </li>
    </ul>
</header>
<div id="ChangeAccount-Div">
    <div class="avt">
        <img src="/imgs/main/avt.png">
        {{authUser.Name}}
    </div>
    <ul>
        <li>
            <a href="/writer/inforeditor">
                <i class="bi bi-info-lg"></i>
                Thông tin của tôi
            </a>
        </li>
        <li>
            <a href="/">
                <i class="bi bi-arrow-left-right"></i>
                Chuyển về tài khoản đọc báo
            </a>
        </li>
    </ul>
    <button class="btn-sign-out" type="submit" onclick="logout()">Đăng xuất</button>
 
</div>





{{!-- {{#fillHtmlContent 'js'}} --}}
<script src="/js/scriptInforWriter.js"></script>
{{!-- {{/fillHtmlContent}} --}}