<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/editor/styleModerator.css">


    {{{_sections.css}}}

</head>

<body>
    {{!-- <div class="header">
        <a href="/admin/dashboard" class="header-item">Bảng điều khiển</a>
        <a href="/admin/usermanagement" class="header-item">Quản lý thành viên</a>
        <a href="/admin/newsmanagement" class="header-item">Quản lý bài viết</a>
    </div> --}}
    {{{body}}}
</body>
{{{_sections.js}}}


</html>