:root {
    --text-fam: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --parent12-maxheight: 820px;
    --orange: #b1154a;
    --green: #555;
    --card-height: 797px;
    --red: #6e071a;
    --grey: #e6e8ea;
    --white: #ffffff;
    --black: #000000;
    --border-radius: 15px;
}


/* header */
.container-fluid {
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header {
    width: 75%;
    margin: 1em auto;
    display: grid;
    grid-template: 1fr / 25% 50% 25%;
    text-align: center;
    align-items: center;

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        display: flex;
    }

    li {
        display: inline-block;
    }

    img {
        width: 10em;
    }

    .left {
        li a {
            color: black;
            padding-right: 3em;
        }
    }

    .right {
        gap: 2em;
        flex-direction: row-reverse;

        a {
            color: var(--white);
            text-align: center;
            line-height: 2em;
            font-weight: bold;
            text-decoration-line: none;

            li {
                border-radius: var(--border-radius);
                background-color: var(--red);
                height: 2em;
                width: 8em;
            }
        }

        a:hover {
            color: var(--red);

            li {
                background-color: var(--grey);
            }
        }

        a:last-child {
            color: var(--red);

            li {
                background-color: var(--grey);
            }
        }

        a:last-child:hover {
            color: var(--white);

            li {
                background-color: var(--red);
            }
        }
    }
}

nav {
    background-color: var(--red);
    font-size: 12pt;

    ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-align: center;
        justify-content: center;
        gap: 0em;

        li {
            display: inline-block;
            align-items: center;
            height: 2em;
            line-height: 2em;
            width: 7.5em;

            a {
                text-decoration-line: none;
                color: var(--white);
                font-weight: bold;
            }

            a:hover {
                text-decoration-line: none;
            }
        }

        li:hover {
            background-color: var(--white);

            a {
                color: var(--red);
            }
        }
    }
}

/* header */

p,
h4,
h5,
h2,
h1,
h3,
a {
    text-align: justify;
}

/* Các nút Menu và Home */
body {
    font-family: var(--text-fam);

    a {
        color: inherit;
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }
}

.body {
    h2 {
        font-weight: bold;
        border-bottom: 1px solid var(--black);
        margin-bottom: 1.5em;
    }

    margin: 2em 12.5%;
}

/* grid layout */
@media (max-width: 1200px) {
    .parent1 {
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        margin-right: 0;
    }
}

.parent1 {
    display: grid;
    grid-template: 1fr / 5.5fr 4.5fr;
    gap: 1em;
    border-bottom: 1px solid #D4BFCB;
    /* height: 10em; */

    .child1 {
        grid-area: 1 / 1 / 2 / 2;
    }

    .child2 {
        grid-area: 1 / 2 / 2 / 3;
    }
}

.child1 {
    display: grid;
    grid-template: 7fr 3fr / 1fr;
    max-height: var(--parent12-maxheight);

    .div1 {
        grid-area: 1 / 1 / 2 / 4;
    }

    .div-234 {
        padding-top: 1em;
        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
        gap: 0.5em;
    }
}


.child2 {
    display: grid;
    grid-template: repeat(5, 1fr) / 1fr;
    gap: 1em;
    max-height: var(--parent12-maxheight);
    overflow: scroll;
}

.highlight {
    background-color: aqua;
}


.div1 {
    grid-area: 1 / 1 / 1 / 1;
}

/* div1 */
.div1 a {
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* Space between elements */
    border-bottom: 1px solid #D4BFCB;
}

.hinhanh-div1 {
    width: 100%;
    /* Adjust this to control the width */
    max-width: 900px;
    /* Set a maximum width to keep the image contained */
    object-fit: cover;
}

.text-div1 {
    font-weight: bold;
    font-size: 15pt;
    font-family: var(--text-fam);
}

.noi-dung-div1 {
    font-size: 13pt;
    font-family: var(--text-fam);
}

.link-div1 {
    color: inherit;
}

.link-div1:hover {
    color: var(--black);
}


/* Đặt kích thước cố định cho div2, div3 và div4 */
.div2 {
    display: grid;
    grid-template: 1fr 1fr / 1fr;

    p {
        font-size: 13px;
        font-weight: bold;
        padding: 0 1em;
    }

    .hinhanh-div {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.div5 {
    display: grid;
    grid-template: 1fr / 6.5fr 3.5fr;
    padding-top: 0.5em;
    border-top: 1px solid;
    /* height: 10em; */

    .infor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 0.5em; */
        padding: 0 0.5em;

        h4 {
            font-weight: bold;
            font-size: 12pt;
            color: var(--black);
            ;
        }

        p {
            font-size: 8pt
        }

        .date {
            font-size: 12px;
            color: var(--orange);
        }
    }

    .image-container {
        background-image: url(./hinhanh/nhatban.webp);
        background-size: cover;
    }
}


/* Sport section phân mục */
.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1em;
    margin-top: 5em;
    border-top: 1px solid var(--grey);
    /* border-bottom: 1px solid var(--grey); */

    font-family: var(--text-fam);
}

/* Section 1 và Section2 chung */
.section1,
.section2 {
    padding: 0.5em;

    .section1-imagecontainer,
    .section2 .section2-content.image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1-title,
    .section2-title {
        font-weight: bold;
    }

    .section1-image,
    .section2-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.section1 {
    grid-area: 1 / 1 / 3 / 2;
    border-bottom: 1px solid var(--grey);

    .section1-imagecontainer {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .section1-title {
        font-size: 20px;
        color: var(--orange);
    }

    .Tuadebaiviet {
        font-size: 15px;
        margin: 10px 0;
        font-weight: bold;
    }

    @media screen and (max-width: 767px) {
        .section1-image {
            max-width: none;
        }
    }
}

.section2 {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0.5em;
    border-bottom: 1px solid var(--grey);

    .section2 .title {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        align-items: center;
    }

    .section2 .content {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        align-items: flex-start;
        text-align: justify;
    }
}


/* Mobile-first (max-width: 767px) */
@media screen and (max-width: 767px) {
    .parent2 {
        grid-template-columns: 1fr;
        padding: 0.5em;
        gap: 0.5em;
    }

    .section1,
    .section2 {
        grid-area: auto;
        border-top: none;
        padding: 0.5em;
    }

    .section1-image {
        width: 100%;
        height: auto;
    }

    .section1-title {
        font-size: 18px;
    }

    .Tuadebaiviet {
        font-size: 14px;
    }

    .section2 {
        grid-template-columns: 1fr;
    }

    .section2-title {
        font-size: 12px;
    }
}

/* Tablet (min-width: 768px and max-width: 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .parent2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .section1-image {
        width: 250px;
    }

    .section1-title {
        font-size: 18px;
    }

    .Tuadebaiviet {
        font-size: 14px;
    }

    .section2 {
        grid-template-columns: 1fr 1fr;
    }

    .section2-title {
        font-size: 12px;
    }
}

/* Large screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
    .parent2 {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    .section1-image {
        width: 300px;
    }

    .section1-title {
        font-size: 20px;
    }

    .Tuadebaiviet {
        font-size: 15px;
    }

    .section2-title {
        font-size: 13px;
    }
}

/* Từng bài viết về chuyên mục parent3*/
.parent3::before {
    content: "Bài viết";
    font-size: 20pt;
    border-top: 3px solid var(--grey);
}

.parent3 {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, minmax(30px, 1fr));
    grid-gap: 0.8em; */
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 1em;

    .post {
        grid-template: 1fr / 12% 1fr 30%;
        margin: 0 auto;
        display: grid;
        width: 90%;
        border: 1px solid var(--grey);

        p {
            text-align: center;
            padding-top: 1em;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 1em;
            justify-content: space-between;
            /* gap: 0.5em; */

            h4 {
                font-weight: bold;
                padding-bottom: 0.5em;
                border-bottom: 2px solid var(--grey);
            }

            p {
                padding-top: 0;
                text-align: start;
                padding-bottom: 1em;
            }
        }

        .content:after {
            content: "Thể thao";
            font-style: italic;
        }
    }
}

/* footer */
footer {
    margin-top: 4em;
    padding: 0 12.5%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--red);

    ul {
        list-style-type: none;
        padding: 0;
    }

    li,
    .right-bot,
    img {
        margin: 0.5em 0;
        padding-left: 0.5em;
    }

    a {
        color: black;
        font-weight: bold;
        font-size: 11pt;
    }

    a:hover {
        color: var(--black);
        text-decoration-line: none;
    }

    .left {
        padding-top: 2em;

        img {
            height: 2em;
        }
    }

    .right {

        .right-top {
            display: flex;
            gap: 1em;
        }

        .right-center {
            margin-top: 2em;
            display: flex;
            gap: 1em;
            border-top: 1px solid black;
        }

    }
}