@import "./styleMain.css";

.container-fluid {
    margin: 0;
    padding: 0;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

.body {
    margin: 2em 12.5%;

    h2 {
        font-weight: bold;
        border-bottom: 2px solid var(--black);
        margin-bottom: 1.5em;
    }
}

/* grid layout */
@media (max-width: 1200px) {
    .parent1 {
        grid-template-columns: 1fr 1fr;
        margin-left: 0;
        margin-right: 0;
    }
}

.parent1 {
    display: grid;
    grid-template: 1fr / 5.5fr 4.5fr;
    gap: 1em;
    border-bottom: 1px solid #D4BFCB;
    /* height: 10em; */

    .child1 {
        display: flex;
        flex-direction: column;
        grid-area: 1 / 1 / 2 / 2;
        /* max-height: var(--parent12-maxheight); */

        .div1 a {
            display: flex;
            flex-direction: column;
            gap: 1em;
            /* Space between elements */
            border-bottom: 1px solid #D4BFCB;
        }

        .div-234 {
            display: grid;
            grid-template: 1fr / repeat(3, 1fr);
            gap: 0.5em;
            padding-top: 1em;
        }
    }

    .child2 {
        grid-area: 1 / 2 / 2 / 3;
        display: grid;
        grid-template: repeat(5, 1fr) / 1fr;
        gap: 1em;
        /* max-height: var(--parent12-maxheight); */
        overflow: scroll;
    }
}

.highlight {
    background-color: aqua;
}

.hinhanh-div1 {
    width: 100%;
    /* Adjust this to control the width */
    max-width: 900px;
    /* Set a maximum width to keep the image contained */
    object-fit: cover;
}

.text-div1 {
    font-weight: bold;
    font-size: 15pt;
    font-family: var(--text-fam);
}

.noi-dung-div1 {
    font-size: 13pt;
    font-family: var(--text-fam);
}

.link-div1 {
    color: inherit;
}

.link-div1:hover {
    color: var(--black);
}


/* Đặt kích thước cố định cho div2, div3 và div4 */
.div2 {
    display: flex;
    flex-direction: column;

    p {
        font-size: 13px;
        font-weight: bold;
        padding: 0 1em;
    }

    .hinhanh-div {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.div5 {
    display: grid;
    grid-template: 1fr / 6.5fr 3.5fr;
    padding-top: 0.5em;
    border-top: 2px solid var(--grey);
    /* height: 10em; */

    .infor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        /* gap: 0.5em; */
        padding: 0 0.5em;

        h4 {
            font-weight: bold;
            font-size: 12pt;
            color: var(--black);
            ;
        }

        p {
            font-size: 8pt
        }

        .date {
            font-size: 12px;
            color: var(--orange);
        }
    }

    .image-container {
        background-image: url(./hinhanh/nhatban.webp);
        background-size: cover;
    }
}


/* Sport section phân mục */
.parent2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 1em;
    margin-top: 5em;
    border-top: 1px solid var(--grey);
    /* border-bottom: 1px solid var(--grey); */

    font-family: var(--text-fam);
}

/* Section 1 và Section2 chung */
.section1,
.section2 {
    padding: 0.5em;

    .section1-imagecontainer,
    .section2 .section2-content.image {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .section1-title,
    .section2-title {
        font-weight: bold;
    }

    .section1-image,
    .section2-image {
        width: 100%;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.section1 {
    grid-area: 1 / 1 / 3 / 2;
    border-bottom: 1px solid var(--grey);

    .section1-imagecontainer {
        width: 100%;
        max-width: 600px;
        height: auto;
    }

    .section1-title {
        font-size: 20px;
        color: var(--orange);
    }

    .Tuadebaiviet {
        font-size: 15px;
        margin: 10px 0;
        font-weight: bold;
    }

    @media screen and (max-width: 767px) {
        .section1-image {
            max-width: none;
        }
    }
}

.section2 {
    grid-area: 3 / 1 / 4 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 0.5em;
    border-bottom: 1px solid var(--grey);

    .section2 .title {
        grid-area: 1 / 1 / 2 / 3;
        display: flex;
        align-items: center;
    }

    .section2 .content {
        grid-area: 2 / 1 / 3 / 3;
        display: flex;
        align-items: flex-start;
        text-align: justify;
    }
}


/* Mobile-first (max-width: 767px) */
@media screen and (max-width: 767px) {
    .parent2 {
        grid-template-columns: 1fr;
        padding: 0.5em;
        gap: 0.5em;
    }

    .section1,
    .section2 {
        grid-area: auto;
        border-top: none;
        padding: 0.5em;
    }

    .section1-image {
        width: 100%;
        height: auto;
    }

    .section1-title {
        font-size: 18px;
    }

    .Tuadebaiviet {
        font-size: 14px;
    }

    .section2 {
        grid-template-columns: 1fr;
    }

    .section2-title {
        font-size: 12px;
    }
}

/* Tablet (min-width: 768px and max-width: 1024px) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .parent2 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

    .section1-image {
        width: 250px;
    }

    .section1-title {
        font-size: 18px;
    }

    .Tuadebaiviet {
        font-size: 14px;
    }

    .section2 {
        grid-template-columns: 1fr 1fr;
    }

    .section2-title {
        font-size: 12px;
    }
}

/* Large screens (min-width: 1025px) */
@media screen and (min-width: 1025px) {
    .parent2 {
        grid-template-columns: repeat(3, minmax(150px, 1fr));
    }

    .section1-image {
        width: 300px;
    }

    .section1-title {
        font-size: 20px;
    }

    .Tuadebaiviet {
        font-size: 15px;
    }

    .section2-title {
        font-size: 13px;
    }
}

/* Từng bài viết về chuyên mục parent3*/
.parent3::before {
    content: "Bài viết";
    font-size: 20pt;
    border-top: 3px solid var(--grey);
}

.parent3 {
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, minmax(30px, 1fr));
    grid-gap: 0.8em; */
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    gap: 1em;

    .post {
        grid-template: 1fr / 12% 1fr 30%;
        margin: 0 auto;
        display: grid;
        width: 90%;
        border: 1px solid var(--grey);

        p {
            text-align: center;
            padding-top: 1em;
        }

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: 1em;
            justify-content: space-between;
            /* gap: 0.5em; */

            h4 {
                font-weight: bold;
                padding-bottom: 0.5em;
                border-bottom: 2px solid var(--grey);
            }

            p {
                padding-top: 0;
                text-align: start;
                padding-bottom: 1em;
            }
        }

        .content:after {
            content: "Thể thao";
            font-style: italic;
        }
    }
}