:root {
    --card-height: 797px;
    --d-red: #6e071a;
    --grey: #e6e8ea;
    --white: #ffffff;
    --black: #000000;
    --border-radius: 15px;
}

#head {
    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    background-color: var(--white);
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin-right: 1em;
        }
        a:hover {
            border: 0.2px solid var(--d-red);
        }
        .search {
            display: flex;
            flex-direction: row;
            border-radius: var(--border-radius);
            border: 0.2px solid var(--black);
            input {
                border: none;
                border-radius: 15px;
                outline: none;
            }
        }
        .search:focus-within {
            border: 2px solid var(--d-red);
        }
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
      

    }
    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        button {
            border-radius: var(--border-radius);
            background-color: var(--d-red);
            color:var(--white);
            border-style: none;
            font-weight: bold;
            height: 2em;
            width: 8em;
            margin-right: 2em;
        }
        button:hover {
            background-color: var(--grey);
            color: var(--d-red);
        }
        button:last-child {
            background-color: var(--grey);
            color:var(--d-red);
        }
        button:last-child:hover {
            background-color: var(--d-red);
            color: var(--white);
        }
    }
    .category {
        grid-column: span 3;
        background-color: var(--d-red);
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        height: 2em;
        align-items: center;
        a {
            text-align: center;
            color: var(--white);
            font-weight: bold;
        }
        a:hover {
            background-color: var(--white);
            color: var(--d-red);
            text-decoration-line: none;
            height: 2em;
        }
        .button-news {
            grid-column-start: 3;
        }

        
    }
}
#body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    /* Căn giữa block element */
    width: 75%;

}

p {
    padding-top: 1em;
    text-align: justify;
}

#nav {
    display: flex;
    justify-content: space-between;
    margin: 0 25px 0 25px;

    ol {
        background-color: var(--white);
    }
}

#article {
    h5 {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
    }

    .b_title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 25px 0 25px;
    }

    img {
        width: 100%;
    }

    .content {
        margin: 0 170px 0 170px;
    }
}

#cmt {

    .cmt_area {
        display: flex;

        textarea {
            width: 100%;

        }
    }

    .cmts {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0 10px;

        .button {
            display: flex;
            justify-content: end;

            .btn {
                margin: 5px 5px 10px 10px;
            }
        }
    }

    .cmt_mn {
        display: flex;
        flex-direction: row;
        border-top: 0.2px solid var(--grey);

        p {
            margin-left: 10px;
        }
    }
}

#article_related,
#article_highlight {
    margin-bottom: 10px;

    h4 {
        font-weight: bold;
        color: black;
        height: 50px;
        border-top: 0.2px solid var(--grey);
        margin-top: 20px;
        padding-top: 10px;

    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--d-red);
        padding: 20px 0 20px 0;
    }

    .card {
        background-color: var(--d-red);
        color: var(--white);
        border: 0.2px solid var(--white);
        text-align: center;
    }
}

#article_list {
    margin-top: 10px;
    display: flex;
    flex-direction: row;

    div {
        border: 0.1px solid var(--grey);
        padding: 10px 5px 0 5px;
    }

    h6 {
        font-weight: bold;
        margin-top: 5px;
    }
}

#footer {
    background-color: var(--d-red);
    display: grid;
    grid-template-columns: 2fr 6fr 2fr;

    a {
        color: var(--white);
        text-decoration-line: none;
    }
    .right {
        .top {
            display: grid;
            border-bottom: 1px solid var(--white);
            grid-template-columns: repeat(11, 1fr);
            padding-bottom: 1em;
            .com-row-1 {
                grid-column-start: 3;
            }
            a {
                border-left: 1px solid var(--white);
                height: 3em;
                display: flex;
                align-items: center;
                padding-left: 10px;
                
            }
        }
        .center {
            display: grid;
            grid-template-columns: repeat(6, 2fr);
            .com-row-2 {
                grid-column-start: 2;
            }
        }
        .bot {
            padding-top: 3em;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }
    

}