@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f3f4f6;
}

.otp-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    padding: 30px;
    border: 2px solid #333;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.otp-header {
    text-align: center;
    margin: 20px 0 40px 0;
}

.otp-header header {
    color: #333;
    font-size: 30px;
    font-weight: 600;
}

.otp-text-box {
    text-align: justify;
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.otp-input-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.otp-input-box .otp-field {
    width: 50px;
    height: 60px;
    font-size: 22px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: .3s;
}

.otp-field:focus {
    border-color: #6e071a;
    box-shadow: 0px 0px 5px 2px rgba(110, 7, 26, 0.3);
}

.input-submit {
    position: relative;
}

.submit-btn {
    width: 100%;
    height: 60px;
    background: #6e071a;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s;
}

.input-submit label {
    position: absolute;
    top: 45%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.submit-btn:hover {
    background: #000;
    transform: scale(1.05, 1);
}

.otp-resend {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.otp-resend a {
    color: #6e071a;
    text-decoration: none;
}

.otp-resend a:hover {
    text-decoration: underline;
}

.sign-in-link {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}

.sign-in-link a {
    color: #000;
    font-weight: 600;
}

.logo-icon {
    height: 2em;
    object-fit: cover;
}