{{#fillHtmlContent 'css'}}
<!-- Place the first <script> tag in your HTML's <head> -->
<script src="https://cdn.tiny.cloud/1/5o2hhgemqy0axvklkkh20ria6cf801vvy0t4bgmwk5t69m2c/tinymce/7/tinymce.min.js"
    referrerpolicy="origin"></script>
<link rel="stylesheet" href="/css/writer/style_create.css">
{{/fillHtmlContent}}

{{#fillHtmlContent 'js'}}
<script>
    tinymce.init({
        selector: '#article',
        plugins: [
            // Core editing features
            'anchor', 'autolink', 'charmap', 'codesample', 'emoticons', 'image', 'link', 'lists', 'media', 'searchreplace', 'table', 'visualblocks', 'wordcount',
            // Your account includes a free trial of TinyMCE premium features
            // Try the most popular premium features until Dec 21, 2024:
            'checklist', 'mediaembed', 'casechange', 'export', 'formatpainter', 'pageembed', 'a11ychecker', 'tinymcespellchecker', 'permanentpen', 'powerpaste', 'advtable', 'advcode', 'editimage', 'advtemplate', 'ai', 'mentions', 'tinycomments', 'tableofcontents', 'footnotes', 'mergetags', 'autocorrect', 'typography', 'inlinecss', 'markdown', 'importword', 'exportword', 'exportpdf'
        ],
        toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
        ],
        ai_request: (request, respondWith) => respondWith.string(() => Promise.reject('See docs to implement AI Assistant')),
    });
</script>
<script src="/js/create_article.js"></script>
{{/fillHtmlContent}}

{{> headerWriter}}

<form action="" method="post">

    <nav>
        <div class="search">
            <h2>Tiêu đề bài viết</h2>
            <input type="text" name="title" id="title" placeholder="Tiêu đề bài viết">
        </div>
        <div class="filter">
            <button class="btn" type="submit" onclick="submitPost()">
                <i class="bi bi-floppy"></i>
                Lưu bản nháp</button>
            <button class="btn" type="submit" onclick="submitPost()">
                <i class="bi bi-eye"></i>
                Xem bài viết</button>
            <button class="btn" type="submit" onclick="submitPost()">
                <i class="bi bi-cloud-upload"></i>
                Đăng tải</button>
        </div>
    </nav>
    <div id="body">
        <div class="creat">
            <textarea id="article" placeholder="Thêm nội dung vào đây..."></textarea>
            <textarea name="save" id="save"></textarea>
        </div>
        <div class="nav">
            <div class="state">
                <h3>Thuộc tính bài viết</h3>
                <div>
                    <label for="premium" style="user-select: none;">Bài viết Premium</label>
                    <input type="checkbox" id="premium" name="premium" value="true">
                </div>
            </div>
            <div class="category">
                <h3>Chuyên mục</h3>
                <div>
                    <select name="category" id="category">
                        <option value="none" disabled selected>Chọn chuyên mục</option>
                        <option value="CAT0001">Thời sự</option>
                    </select>
                </div>

                <h3>Chuyên mục cấp 2</h3>
                <select name="sub_category" id="sub-category">
                    <option value="none" disabled selected>Chọn chuyên mục</option>
                    <option value="SUB0001">SUB0001</option>
                </select>
            </div>
            <div class="tags">
                <h3>Tags</h3>
                <input type="text" name="tags" id="tags" placeholder="#tags">
            </div>
            <div class="meta-title">
                <h3>Tóm tắt tiêu đề</h3>
                <input type="text" name="meta_title" id="meta-title" placeholder="meta-title">
            </div>
            <div class="meta-description">
                <h3>Tóm tắt nội dung</h3>
                <input type="text" name="meta_description" id="meta-description" placeholder="meta-description">
            </div>
        </div>
    </div>

</form>