{{!--
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>NewsHub Header</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@300;600;700&display=swap" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="css/category.css">
</head>

<body>
    <header>
        <ul class="left">
            <li>
                <a href="#"><i class="bi bi-list"></i></a>
            </li>
            <li>
                <button type="button" class="search-icon" onclick="searchClick()"><i class="bi bi-search"></i></button>
            </li>

        </ul>
        <div class="middle">
            <a href="#"><img src="imgs/main/logokonen.png"></a>
        </div>
        <ul class="right">
            <a href="#">
                <li>
                    Đăng nhập
                </li>
            </a>
            <a href="#">
                <li>
                    Đăng ký
                </li>
            </a>
        </ul>
    </header>
    <nav id="nav">
        <ul id="nav-ul">
            <a href="#">
                <li class="thoi-su">Thời sự</li>
            </a>
            <a href="#">
                <li class="kinh-doanh">Kinh doanh </li>
            </a>
            <a href="#">
                <li class="khoa-hoc">Khoa học </li>
            </a>
            <a href="#">
                <li class="the-thao">Thể thao </li>
            </a>
            <a href="#">
                <li class="giao-duc">Giáo dục </li>
            </a>
            <a href="#">
                <li class="doi-song">Đời sống </li>
            </a>
            <a href="#">
                <li class="the-gioi">Thế giới </li>
            </a>
            <a href="#">
                <li class="bat-dong-san">Bất động sản</li>
            </a>
            <a href="#">
                <li class="giai-tri">Giải trí </li>
            </a>
            <a href="#">
                <li class="phap-luat">Pháp luật </li>
            </a>
            <a href="#">
                <li class="suc-khoe">Sức khỏe </li>
            </a>
            <a href="#">
                <li class="du-lich">Du lịch </li>
            </a>
        </ul>
        <div id="subnav">
            <ul hidden id="thoi-su">
                <a href="#">
                    <li>Chính trị</li>
                </a>
                <a href="#">
                    <li>Dân sinh</li>
                </a>
                <a href="#">
                    <li>Lao động - Việc làm</li>
                </a>
                <a href="#">
                    <li>Giao thông</li>
                </a>
            </ul>
            <ul hidden id="kinh-doanh">
                <a href="#">
                    <li>NetZero</li>
                </a>
                <a href="#">
                    <li>Quốc tế</li>
                </a>
                <a href="#">
                    <li>Doanh nghiệp</li>
                </a>
                <a href="#">
                    <li>Chứng khoáng</li>
                </a>
                <a href="#">
                    <li>E-bank</li>
                </a>
            </ul>
            <ul hidden id="khoa-hoc">
                <a href="#">
                    <li>Khoa học trong nước</li>
                </a>
                <a href="#">
                    <li>Chỉ số PII</li>
                </a>
                <a href="#">
                    <li>Tin tức</li>
                </a>
                <a href="#">
                    <li>Phát minh</li>
                </a>
                <a href="#">
                    <li>Ứng dụng</li>
                </a>
                <a href="#">
                    <li>Thế giới tự nhiên</li>
                </a>
            </ul>
            <ul hidden id="the-thao">
                <a href="#">
                    <li>Bóng đá</li>
                </a>
                <a href="#">
                    <li>Lịch thi đấu</li>
                </a>
                <a href="#">
                    <li>Marathon</li>
                </a>
                <a href="#">
                    <li>Tennis</li>
                </a>
                <a href="#">
                    <li>Các môn khác</li>
                </a>
            </ul>
            <ul hidden id="giao-duc">
                <a href="#">
                    <li>Tin tức</li>
                </a>
                <a href="#">
                    <li>Tuyển sinh</li>
                </a>
                <a href="#">
                    <li>Chân dung</li>
                </a>
                <a href="#">
                    <li>Học tiếng Anh</li>
                </a>
                <a href="#">
                    <li>Giáo dục 4.0</li>
                </a>
            </ul>
            <ul hidden id="doi-song">
                <a href="#">
                    <li>Nhịp sống</li>
                </a>
                <a href="#">
                    <li>Tổ ấm</li>
                </a>
                <a href="#">
                    <li>Bài học sống</li>
                </a>
                <a href="#">
                    <li>Nấu ăn</li>
                </a>
                <a href="#">
                    <li>Tiêu dùng</li>
                </a>
            </ul>
            <ul hidden id="the-gioi">
                <a href="#">
                    <li>Bầu cử tổng thông Mỹ</li>
                </a>
                <a href="#">
                    <li>Tu</li>
                </a>
                <a href="#">
                    <li>Phân tích</li>
                </a>
                <a href="#">
                    <li>Quân sự</li>
                </a>
            </ul>
            <ul hidden id="bat-dong-san">
                <a href="#">
                    <li>Chính sách</li>
                </a>
                <a href="#">
                    <li>Thị trường</li>
                </a>
                <a href="#">
                    <li>Dự án</li>
                </a>
                <a href="#">
                    <li>Không gian sống</li>
                </a>
            </ul>
            <ul hidden id="giai-tri">
                <a href="#">
                    <li>Giới sao (idol/star)</li>
                </a>
                <a href="#">
                    <li>Sách</li>
                </a>
                <a href="#">
                    <li>Phim</li>
                </a>
                <a href="#">
                    <li>Phim</li>
                </a>
                <a href="#">
                    <li>Nhạc</li>
                </a>
                <a href="#">
                    <li>Thời trang</li>
                </a>
                <a href="#">
                    <li>Làm đẹp</li>
                </a>
                <a href="#">
                    <li>Mỹ thuật</li>
                </a>
            </ul>
            <ul hidden id="phap-luat">
                <a href="#">
                    <li>Hồ sơ phá án</li>
                </a>
                <a href="#">
                    <li>Tư vấn</li>
                </a>
            </ul>
            <ul hidden id="suc-khoe">
                <a href="#">
                    <li>Tin tức</li>
                </a>
                <a href="#">
                    <li>Sống khỏe</li>
                </a>
                <a href="">
                    <li>Vaccine</li>
                </a>
                <a href="">
                    <li>Các bệnh</li>
                </a>
            </ul>
            <ul hidden id="du-lich">
                <a href="#">
                    <li>Điểm đến</li>
                </a>
                <a href="#">
                    <li>Ẩm thực</li>
                </a>
                <a href="#">
                    <li>Dấu chân</li>
                </a>
                <a href="#">
                    <li>Tư vấn</li>
                </a>
                <a href="#">
                    <li>Cẩm nang</li>
                </a>
            </ul>
        </div>
    </nav> --}}

    <div class="body">
        <h2>
            Thể thao
        </h2>
        <div class="parent1">
            <div class="child1">
                <a class="div1" href="#">
                    <img alt="" src="imgs/category/mancity1.png">
                    <h4>Trực tiếp bóng đá Brighton - Man City: So kè căng thẳng (Ngoại hạng
                        Anh)
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio
                        incidunt
                        dolore quaerat odit temporibus delectus sequi inventore, mollitia illum culpa, nulla
                        quod!
                        Officiis nesciunt ut sit laboriosam ex perferendis dolor nostrum magni mollitia placeat,
                        non
                        dolore impedit nulla perspiciatis voluptatum fugiat alias illum voluptatibus! Aliquam
                        voluptatem
                        ea consequatur itaque delectus?
                    </p>
                </a>

                <div class="triple-highlight">
                    <a class="highlight-element" href="#">
                        <img class="hinhanh-div " alt="" src="imgs/category/congphuong1.png">
                        <p>Công Phượng bị phong tỏa ở sân Thống Nhất, HLV Anh Đức tiết lộ lý do</p>
                    </a>

                    <a class="highlight-element" href="#">
                        <img class="hinhanh-div" alt="" src="imgs/category/polking.png">
                        <p>HLV Polking & Nguyễn Filip thi nhau “mỉa mai” lối chơi của đội bầu Đức</p>
                    </a>

                    <a class="highlight-element" href="#">
                        <img class="hinhanh-div" alt="" src="imgs/category/mancity2.png">
                        <p>Trực tiếp bóng đá Brighton - Man City: Chủ nhà dốc sức gỡ hòa</p>
                    </a>
                </div>
            </div>

            <div class="child2">
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
                <a class="div2" href="#">
                    <div class="infor">
                        <h4>November 12, 2024</h4>
                        <h6>Báo Indonesia bình luận khi thầy trò Shin Tae Yong thảm bại trước Nhật Bản</h6>
                        <p>Nhiều tờ báo Indonesia đã tỏ ra thất vọng sau khi chứng kiến đội nhà thất bại 0-4
                            trước
                            Nhật Bản vào tối 15/11. Tuy nhiên, họ cho rằng cơ hội đi tiếp của thầy trò HLV Shin Tae
                            Yong
                            chưa bị
                            dập
                            tắt.</p>
                    </div>
                    <img src="imgs/category/nhatban.webp" alt="" class="image-container">
                </a>
            </div>
        </div>


        <div class="parent2">
            <div class="highlight-section">
                <a href="#" class="title">
                    <h4>Bóng rổ</h4>
                </a>
                <a href="#" class="highlight-post">
                    <img src="imgs/category/pickball.webp" alt="">
                    <h5>Lebron James lập kỷ lục trong ngày lakers thua trận</h5>
                </a>
                <div class="other-section">
                    <a class="post-section" href="#">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                    <a class="post-section" href="#">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src=" ./imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                    <a class="post-section" href="#">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src=" ./imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                </div>
            </div>

            <div class="highlight-section">
                <a href="#" class="title">
                    <h4>Bóng rổ</h4>
                </a>
                <a href="#" class="highlight-post">
                    <img src="imgs/category/pickball.webp" alt="">
                    <h5>Lebron James lập kỷ lục trong ngày lakers thua trận</h5>
                </a>
                <div class="other-section">
                    <a class="post-section">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                    <a class="post-section">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                    <a class="post-section">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                </div>
            </div>

            <div class="highlight-section">
                <a href="#" class="title">
                    <h4>Bóng rổ</h4>
                </a>
                <a href="#" class="highlight-post">
                    <img src="imgs/category/pickball.webp" alt="">
                    <h5>Lebron James lập kỷ lục trong ngày lakers thua trận</h5>
                </a>
                <div class="other-section">
                    <a class="post-section">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                    <a class="post-section">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                    <a class="post-section">
                        <p>Nhật Bản, Hàn Quốc tiến sát đến World Cup, Indonesia lâm vào thế khó</p>
                        <img src="imgs/category/nhatbanhanquoc.webp" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="parent3">
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
            <a href="#" class="post">
                <p>10 hours ago</p>
                <div class="content">
                    <h4>HLV Shin Tae Yong nói thẳng sự thật sau trận thua thảm trước Nhật Bản</h4>
                    <p>
                        Phát biểu sau trận đấu với Nhật Bản, HLV Shin Tae Yong thừa nhận đội tuyển Indonesia chịu áp
                        lực
                        khủng
                        khiếp.
                        Bên cạnh đó, ông cũng cho rằng Indonesia khó giành vé dự World Cup 2026.
                    </p>
                </div>
                <img src="imgs/category/shintaeyong.webp" alt="" class="image">
            </a>
        </div>
    </div>
    {{!--
    <footer>
        <a class="left" href="#">
            <img src="imgs/main/logokonen.png">
        </a>
        <div class="right">
            <ul class="right-top">
                <li><a href="#">Trang chủ</a></li>
                <li><a href="#">Thời sự</a></li>
                <li><a href="#">Kinh doanh</a></li>
                <li><a href="#">Khoa học</a></li>
                <li><a href="#">Thể thao</a></li>
                <li><a href="#">Giáo dục</a></li>
                <li><a href="#">Đời sống</a></li>
                <li><a href="#">Thế giới</a></li>
                <li><a href="#">Bất động sản</a></li>
                <li><a href="#">Giải trí</a></li>
                <li><a href="#">Pháp luật</a></li>
                <li><a href="#">Sức khỏe</a></li>
                <li><a href="#">Du lịch</a></li>
            </ul>
            <ul class="right-center">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Chính sách bảo mật</a></li>
                <li><a href="#">Thông tin liên hệ</a></li>
                <li><a href="#">Đóng góp ý kiến</a></li>
                <li><a href="#">Hỗ trợ khả năng về truy cập</a></li>
                <li><a href="#">Điều khoản sử dụng</a></li>
                <li><a href="#">Dữ liệu người dùng</a></li>
                <li><a href="#">Cookie</a></li>
            </ul>
        </div>
        <p class="right-bot">NewHubs không chịu trách nhiệm về nội dung của các trang web bên ngoài.<a href="#"
                class="pl-2">Đọc thêm về điều khoản</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>
    <script src="../layouts/scriptMain.js"></script>
</body>

</html> --}}