{{#fillHtmlContent 'css'}}
<link rel="stylesheet" href="/css/admin/newsmanagement.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
{{/fillHtmlContent}}

{{> headerAdmin}}

<div class="container">




    <h1>Quản lý các chuyên mục cấp 2 </h1>

    <form action="/admin/subcategorymanagement/add" method="post">
        <div id="category-selection-editor" style="display: block;">
            <label for="category">Chọn chuyên mục:</label>
            <select id="category" name="id_category" onchange="fetchSubCategories(this.value)">
                <option value="none">chọn chuyên mục</option>
                {{#each categories}}
                <option value="{{this.Id_Category}}">{{this.Name}}</option>

                {{/each}}
            </select>

        </div>


        <table class="article-table" id="article-table"> <!-- Đảm bảo ID này đúng -->
            <thead>
                <tr>
                    <th>Số thứ tự</th>
                    <th>Tên chuyên mục cấp 2</th>
                </tr>
            </thead>
            <tbody>
                <!-- Subcategories sẽ được thêm vào đây -->
            </tbody>
        </table>

        <br>
        <div class="filter-section">
            <div class="filter-item">
                <label for="name">Nhập tên chuyên mục cấp 2 muốn tạo:</label>
                <input type="text" name="name" id="name" placeholder="Nhập tên chuyên mục cấp 2" required
                    class="filter-input">
            </div>
            <div class="filter-item">
                <button class="filter-button" type="submit">
                    <i class="bi bi-person-add"></i>
                    Thêm
                </button>
            </div>
        </div>
    </form>

</div>



{{!-- {{#fillHtmlContent 'js'}} --}}
<script src="/js/subcategorymanagement.js"></script>
{{!-- {{/fillHtmlContent}} --}}